.h1
{

	margin: 10px 30px 50px 10px;
	background:rgba(16,12,42);

}

.h2
{

	margin: 10px 0px 20px 0px;

}

.h3
{
	/*color: 	#FFFFFF;*/
	margin: 10px 0px 0px 0px;

}

.textstyle
{
	/*color: #00FF66;*/
	text-align: center;

}

.beijingcolor
{
	/*background-color: #330033*/
}

.beijingimag
{
	/*background: url("../鍥惧舰妯℃澘/鑳屾櫙鍥?png");
/*	background-size: contain;*/
	margin: 0px;

}

.kuai1
{

	/*height:280px;
	width: 480px;*/
	/*height:auto;
	width: auto;*/
	/*color: #F0F0F0;*/
	background:rgba(16,12,42);
	/*background: url("../鍥惧舰妯℃澘/妗?2.png") no-repeat center;*/
	background-size: contain;

}







.kuai_title
{
	text-align: center;
	margin: 0px 0px 0px 0px;
	/*font-weight: bold;*/
}



.kuai1_tu1
{
	height:645px;
	/*width: 480px;*/
	margin: 10px,0px,0px,0px;
}
